/*
    * Button 
    * @desc Button component styles
*/
.btn {
  display: inline-block;
  font-size: var(--font-size-xs);
  padding: var(--space-xs) var(--space-sm);

  &--large {
    font-size: var(--font-size-lg);
    padding: var(--space-md) var(--space-xl);
  }

  &--primary {
    background-color: hsl(var(--color-primary));
    color: hsl(var(--color-primary-foreground));

    border-radius: var(--radius-md);
    border: none;

    transition: background-color var(--transition-fast);
    cursor: pointer;

    &:hover {
      background-color: hsl(var(--color-primary-hover));
    }

    &:active {
      border: none;
      background-color: hsl(var(--color-primary-active));
      outline: 1px solid hsl(var(--color-primary-active));
    }

    &:disabled {
      background-color: hsl(var(--color-muted));
      cursor: not-allowed;
    }
  }
}
